<div class="card-columns">

	<div class="card" ng-class="{'card-info': product._id}">
		<div class="card-block">
			<h3>{{product._id ? "Edit": "New"}}</h3>
			<form ng-submit="add()" novalidate name="form">
				<fieldset class="form-group">
					<input class="form-control" placeholder="code" ng-model="product.code" required>
				</fieldset>
				<fieldset class="form-group">
					<input class="form-control" type="file" fileread="product.image">
				</fieldset>
				<fieldset class="form-group" ng-repeat="info in model.product_infos">
					<input class="form-control" type="text" ng-model="product[info.name]" placeholder="{{info.name}}">
				</fieldset>
				<button type="submit" class="btn btn-primary" ng-disabled="form.$invalid">Save</button>
			</form>
		</div>
	</div>

	<div class="card" ng-repeat="p in model.products">
    <div class="card-block">
	    <h4 class="card-title">{{p.code}}</h4>
	    <h6 class="card-subtitle text-muted">Support card subtitle</h6>
	  </div>
	  <img ng-src="/images/products/{{p._id}}.jpg" alt="Card image">

    <ul class="m-t list-group list-group-flush">
	    <li class="list-group-item" ng-repeat="info in model.product_infos" ng-if="p[info.name]">{{info.name}}: {{p[info.name]}}</li>
	  </ul>

	  <div class="card-block">
			<button ng-click="remove(p._id)" class="btn btn-danger btn-sm">Delete</button>
			<a ui-sref="products.models({model: model.name, product: p})" class="btn btn-secondary btn-sm">ویرایش</a>
	  </div>
	</div>
</div>

