<div class="card card-block">
	<h3>Search</h3>
	<form ng-submit="search()" novalidate name="form">

		<fieldset class="form-group">
			<input type="number" class="form-control" placeholder="code" ng-model="product.code" >
		</fieldset>

		<fieldset class="form-group" ng-repeat="info in model.infos.product.texts">
			<input class="form-control" type="text" ng-model="product[info.name]" placeholder="{{info.name}}">
		</fieldset>

		<fieldset class="form-group" ng-repeat="info in model.infos.product.selects">
			<select class="form-control" 
			ng-model="product[info.name]" 
			ng-options="option.name as option.name for option in info.options" placeholder="{{info.name}}" >
				<option value="">{{info.name}}</option>
			</select>
		</fieldset>

		<button type="submit" class="btn btn-primary" ng-disabled="form.$invalid">Search</button>
		<button ng-click="product = {}" class="btn btn-secondary">Reset</button>
	</form>
</div>
