extends layout

block content
  <div ui-view></div>

  script(src='/angular/angular.min.js')
  script(src='/angular-ui-router/release/angular-ui-router.min.js')
  script(src='/angular-notification/angular-notification.min.js')
  script(src='/angular-notification/angular-notification.min.js')
  script(src='/javascripts/main.js')
  script(src='/javascripts/products/main.js')
  script(src='/javascripts/products/services/product.js')
