<div class="card" ng-class="{'card-info': customer._id}" >
	<div class="card-block">
		<h4 class="text-center card-title">{{customer._id ? "Edit": "New"}} {{customer.customername}}</h4>
	</div>
	<form ng-submit="add()" novalidate name="form">
		<fieldset class="form-group card-block">
			<input class="form-control" placeholder="نام" ng-model="customer.name" required>
		</fieldset>
		<div class="card-footer">
			<button type="submit" class="btn btn-primary btn-sm btn-block" ng-disabled="form.$invalid">Save</button>
		</div>
	</form>
</div>